.face{
    width: 400px;
    height:400px;
    background-color:#ffa511 ;
    border-radius:50%;
}
.mouth{
    height:70px;
    width:200px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top:250px;
    left:100px;
}
#eye1,#eye2 {
    background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: absolute;
    left:100px;
    top:100px;
}
#eye2{
    left: 250px;
}
