#outer{
    height: 200px;
    width:70px;
    border: 2px solid black;
    
}
.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#outermost{
    /* height: 200px;
    width:70px; */
    width:70px;
    padding:3px;
    padding-right: 7px;
    border: 2px solid black;
    margin-left:45%;
}